body {
   margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}

h1 {
    text-align: center;
    color: #730000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #730000;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #730000;
    color: white;
}

td button {
    background-color: #730000;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

td button:hover {
    background-color: #a50000;
}
